    <ul class="vertical tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Settings</a></li>
      <li class="tabs-title"><a href="#panel2v">Deactivate</a></li>
      <li class="tabs-title"><a href="#panel3v">Proxies</a></li>
    </ul>
