    <ul class="vertical tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Check for Updates</a></li>
      <li class="tabs-title"><a href="#panel2v">Extend Your Update Period</a></li>
      <li class="tabs-title"><a href="#panel3v">Get Keywords and Early Links</a></li>
      <hr/ >
      <li class="tabs-title"><a href="#panel4v">Help Desk</a></li>
      <li class="tabs-title"><a href="#panel5v">Ask a Question</a></li>
      <li class="tabs-title"><a href="#panel6v">Send Us a Message</a></li>
      <hr/ >
      <li class="tabs-title"><a href="#panel4v">Supported Website Status</a></li>
      <hr/ >
      <li class="tabs-title"><a href="#panel5v">About</a></li>
    </ul>
