<h1>help</h1>

<div class="row collapse">
  <div class="medium-3 columns">
  	<%= render :partial => "pages/help_nav" %>

  </div>
  <div class="medium-9 columns">
    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <p>One</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
      </div>
      <div class="tabs-panel" id="panel2v">
        <p>Two</p>
        <img class="thumbnail" src="assets/img/generic/rectangle-7.jpg">
      </div>
      <div class="tabs-panel" id="panel3v">
        <p>Three</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
      </div>
      <div class="tabs-panel" id="panel4v">
        <p>Four</p>
        <img class="thumbnail" src="assets/img/generic/rectangle-2.jpg">
      </div>
      <div class="tabs-panel" id="panel5v">
        <p>Five</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
      </div>
      <div class="tabs-panel" id="panel6v">
        <p>Six</p>
        <img class="thumbnail" src="assets/img/generic/rectangle-8.jpg">
      </div>
    </div>
  </div>
</div>