<div class="row">
	
</div>
<% if user_signed_in? %>
	Welcome. Let's <%= link_to "Let's shop!", tasks_path %>
<% else %>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/JNua1lFDuDI" frameborder="0" allowfullscreen></iframe>
<% end -%>
