<p id="notice"><%= notice %></p>

<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><%= link_to "Campaigns", campaigns_path %></li>
    <li class="disabled">Create Campaign <%= @campaign.name %></li>
    <li>
      <span class="show-for-sr">Current: </span> Site Settings
    </li>
  </ul>
</nav>
<div class="row columns">
	<div class="medium-10 columns">
		<%= render 'form', site_account: @site_account %>

	</div>
	<div class="medium-2 columns" style="background-color: grey;">
		<ul>
			<%# @site_accounts.each do |site_account| %>
				<li><%#= site_account.merchant_site.name %></li>
			<%# end %>
		</ul>
	</div>
</div>



